
.user-list__login {
    position: relative;
    display: block;
    color: #fff;
    padding: 25px 5px;
    padding-bottom: 20px;
    text-decoration: none;
}

@media (min-width: $tablet-width) {
    .user-list {
        width: 60px;
    }

    .user-list__login {
        &:hover {
            color: #826550;
        }

        &:active {
            color: #fff;
            opacity: 0.3;    
        }
    }
}

@media (min-width: $desktop-width) {
    .user-list {
        width: 160px;
    }
}
